<<<<<<< HEAD
/* Reset */
body, h1, h2, h3,p, ul{
=======
/* RESET */
body, h1, h2, h3, p, ul{
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
    padding: 0;
    margin: 0;
}
body{
<<<<<<< HEAD
    font-family: Gergia, serif;
=======
    font-family: Georgia, serif;
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
    color: #252525;
}
*{
    box-sizing: border-box;
}
.container{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
<<<<<<< HEAD
   
}
/* Menu */
=======

}

/* MENU */

>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
.menu{
    background-color: #252525;
    padding: 15px 0;
}

.menu-nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

.menu-nav{
    flex:1;
    margin: 0 10px;
    align-self: center;

}

.menu-logo{
    margin: 0 10px;
    /* primeiro parametro espaço superior e inferior */
    /* segundo parametro, espaço esquerda e direita */
}

.menu nav ul{
    float: right;
    display: flex;
    list-style: none;

}

.menu-nav ul li a{
    padding: 10px;
}
<<<<<<< HEAD


/* BANNER */
=======
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70

/* BANNER */
.intro{
    background-image: url(../img/bg-intro.jpg);
    background-size: cover;
<<<<<<< HEAD
    color: #fff;
=======
    padding: 150px 0;
    color: #ffff;
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
    text-align: center;


}

.intro h2{
    text-transform: uppercase;
    font-size: 3em;
}

.intro p{
    font-style: italic;
    font-size: 1.125em;

}

<<<<<<< HEAD
.intro h1::after{
=======
.intro h2:after{
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
    content: '';
    display: block;
    width: 20px;
    height: 4px;
<<<<<<< HEAD
    background: #fff;
    margin: 10px auto;
}

/* SOBRE */
=======
    background-color: #fff;
    margin: 10px auto;
}

/*Sobre*/

>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70

.sobre{
    background-color: #fff;
    padding: 60px 0;
}
.sobre h2{
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 60px;
}
<<<<<<< HEAD
.sobre-item{
    flex: 1;
=======

.sobre-item {
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
    margin: 0 10px;
}

.sobre-item img{
<<<<<<< HEAD
	display: block;
	max-width: 100%;
}
.sobre > p {
	font-size: 1.125em;
	line-height: 1.4em;
	font-style: italic;
	margin: 20px auto;
	max-width: 460px;
	text-align: center;
}

.sobre-item h3{
    font-size: 2.25em;
    line-height: 1em;
    background-color: #252525;
    color: #FFF;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    position: relative;
    width: 220px;
    top: -25px;
    padding: 5px 0 10px 0;
}
/* PRODUTOS */
.produtos{
    background-color: #e7e4d8;
    padding: 60px 0;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
}
.produtos-item{
    flex:1;
    margin: 0 10px 40px 10px;
}

.produtos-item h2{
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 20px;
}

.produtos-item p{
    font-size: 0.875em;
    line-height: 1.4em;
}

.produtos-item h2::before{
=======
    display: block;
    max-width: 100%;
}

.sobre-item h3{
    font-size: 2.25em;
    background-color: #252525;
    color: #fff;
    font-style: italic;
    text-align: center;
    width: 200px;
    padding: 5px 0 10px 0;
    line-height: 1em;
    font-weight: normal;
    position: relative;
    top: -25px;
}

.sobre > p{
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    margin: 20px auto;
    max-width: 460px;
    text-align: center;
}
}
/*Produtos*/
.produtos{
    background-color: #e7e4e8;
    border-top: 3px solid #d6d3c8;
    border-bottom: 3px solid #d6d3c8;
    padding: 60px 0;
}
.produtos-item{
    flex: 1;
    margin: 0 10px 40px 10px;
}
.produtos-item h2{
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 20px;
}
.produtos-item h2:before{
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
    content: '';
    display: block;
    width: 100px;
    height: 100px;
<<<<<<< HEAD
    background-color: currentColor;
    border-radius: 50%;
    border: 5px solid #e7e4d8;
    box-shadow:  0 0 0 5px currentColor;
    margin: 20px auto;
}

h2.produtos-paulista::before{
    color: #492901;
=======
    border-radius: 50%;
    background-color: currentColor;
    border: 5px solid #e7e4e8;
    box-shadow: 0 0 0 5px;
    margin: 20px auto;
}
h2.produtos-paulista::before{
    color: #492201;
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
}
h2.produtos-carioca::before{
    color: #c17139;
}
<<<<<<< HEAD

h2.produtos-mineiro::before{
    color: #d7a54d;
}
=======
h2.produtos-mineiro::before{
    color: #d7a54d;
}
.produtos-item {
    font-size: 0.875em;
    line-height: 1.4em;
}
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
.produtos-btn{
    border: 3px solid #252525;
    color: #252525;
    text-decoration: none;
    text-align: center;
    font-size: 1.125em;
<<<<<<< HEAD
    font-weight: bold;
=======
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
    text-transform: uppercase;
    display: block;
    width: 180px;
    padding: 15px 0;
    margin: 20px auto;
<<<<<<< HEAD
}
/* Locaix */

.locais{
    padding: 60px 0;
}
.locais-item{
    margin-bottom: 40px;
}

.locais-img, .locais-info{
    flex:1;
    margin: 0 10px;
}

.locais-img img{
    display: block;
    max-width: 100%;
}
.locais-item h2{
    font-size: 2.25em;
    margin-bottom: 20px;
}

.locais-item p{
    font-size: 1.125em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 40px;
}

.locais-item a{
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}

/* Assine */

.assine{
    background-color: #e7e4d8;
    padding: 30px 0;
}

.assine-info{
    flex: 1;
    margin: 0 100px;
}

.assine-info, h2{
    font-size: 2.25em;
}

.assine-info, p{
    font-size: 1.5em;
    font-style: italic;
}

.assine form{
    flex: 1;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.assine form label{
    display: none;
}

.assine input{
    flex: 1;
    align-self: flex-start;
    padding: 10px;
    background-color: none;
    border: 1px solid #252525;
    font-family: Georgia,serif;
    font-size: 1.5em;
}

.assine button{
    flex: 1;
    align-self: flex-start;
    padding: 13px;
    background-color: #252525;
    border: none;
    font-family: Georgia,serif;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #FFF;
}

/* footer */

.footer{
    background-color: #e7e4d8;
    padding: 40px 0;
}

.footer img{
    margin: 0 10px;
}

.footer p{
    font-size: 1.125em;
    line-height: 1.4em;
    flex: 1;
}

/
=======
}
>>>>>>> 3c419acb9dea2b839977b0d287d850e295ff4e70
